#owlcarousel {
  max-height: 75px;
}
#card-text
{
  color: black;
}
.display-4
{
  color: white;
}
body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  background-position: center;
  
}
h2
{
  color: black;
}
.contact
  {
    color: white;
  }
#owlcarousel
{
  background-color: white;
}
.carousel-caption
{
  color: white;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* contact */

body {
  background: #ffffff;
  background: linear-gradient(to right, #d49f7b, #3a3850);
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1561487767-1f32d174cce0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
h6{
  color: black;

}
h3
{
  color: #3a3850;
  font-size: medium;
  margin-left: 20px;
}
li
{
  color: white;
}
.ervaring
{
  padding-top: 100px;
  margin-top: 200px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.klik
{
  padding-left: 50px;
  color: blue;
}
.contact
{
  color: red;
}


/* end contact */