#owlcarousel {
  max-height: 75px;
}
#card-text
{
  color: black;
}
.display-4
{
  color: white;
}
body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: cover;
  background-position: center;
  
}
h2
{
  color: black;
}
.contact
  {
    color: white;
  }